*{
    margin: 0;padding: 0;
}
.ice-product-header1 {
    background-image: url(../img/bk-partner.jpg) !important;
}

.introduce{
    margin-top: 80px;
    width: 100%;
    border-bottom: 1px solid darkgray;
}
.introduce h2{
    width: 120px;
    margin-left: 5%;
    margin-bottom: 0;
    border-bottom: 1px solid #007AFF;
}

.choose-big{
    position: relative;
    top: 50px;
    width: 100%;
    height: 600px;
    background-color: ghostwhite;
    border: 1px solid gainsboro;
    color: gray;
}
#submit{
    color: white;
}


@media (min-width: 768px){
    .choose-big>p {
        position: absolute;
        top: 50px;
        width: 70%;
        margin-left: 8%;
        font-size: 17px;
    }
    .choose-big .choose-sm{
        position: absolute;
        top: 100px;
        width: 80%;
        /* background-color: red; */
        margin-left: 8%;
    }
    .choose-big .choose-sm>span{
        position: absolute;
        top: 10px;
        font-size: 18px;
    }
    #myTab{
        margin-left: 40%;
    }
    #myTab li{
        width: 30%;
        height: 44px;
        margin-left: 5px;
        background-color: whitesmoke;
    }
    #myTab li:hover{
        color: #00a0d0 ;
    }
    #myTab li a{
        text-align: center;
        color: gray;
    }
    #myTab .active a:nth-child(1){
        background-color: #00a0d0;
        color: white;
    }

    #myTabContent{
        position: relative;
    }
    #myTabContent div p{
        margin-top: 30px;
    }
    #myTabContent div p span{
        font-size: 18px;
    }
    #myTabContent div p input{
        height: 40px;
        width: 50%;
        border: 1px solid gainsboro;
    }
    #myTabContent div p textarea{
        border: 1px solid gainsboro;
    }
    #myTabContent div p input:focus,#myTabContent div p textarea:focus{
        outline:none;
        border: 1px solid #00a0d0;
    }
    #myTabContent div p input,#myTabContent div p textarea{
        position: absolute;
        left: 40%;
    }
    .choose-big button{
        border: 0px;
        position: absolute;
        bottom: 10px;
        left: 40%;
        width: 25%;
        height: 50px;
        background-color: #00a0d0;
        border-radius: 50px;
    }

}

@media (max-width: 768px){
    .choose-big{
        font-size: 14px;
        height: 750px;
    }
    .choose-big>p {
        position: absolute;
        top: 30px;
        width: 90%;
        margin-left: 8%;
    }
    .choose-big .choose-sm{
        position: absolute;
        top: 70px;
        width: 80%;
        /* background-color: red; */
        margin-left: 8%;
    }
    .choose-big .choose-sm>span{
        position: absolute;
        top: 20px;
    }
    #myTab{
        margin-top: 50px;
    }
    #myTab li{
        font-size: 12px;
        width: 30%;
        height: 44px;
        margin-left: 5px;
        background-color: whitesmoke;
    }
    #myTab li:hover{
        color: #00a0d0 ;
    }
    #myTab li a{
        text-align: center;
        color: gray;
    }
    #myTab .active a:nth-child(1){
        background-color: #00a0d0;
        color: white;
    }
    
    #myTabContent{
        position: relative;
        /* background-color: red; */
    }
    #myTabContent div p{
        margin-top: 35px;
    }
    #myTabContent div p input{
        height: 40px;
        width: 100%;
        border: 1px solid gainsboro;
    }
    #myTabContent div p textarea{
        border: 1px solid gainsboro;
    }
    #myTabContent div p input:focus,#myTabContent div p textarea:focus{
        outline:none;
        border: 1px solid #00a0d0;
    }
    #myTabContent div p input,#myTabContent div p textarea{
        position: absolute;
        left: 40%;
    }
    .choose-big button{
        border: 0px;
        position: absolute;
        bottom: 10px;
        left: 40%;
        width: 25%;
        height: 50px;
        background-color: #00a0d0;
        border-radius: 50px;
    }
    #myTabContent div p:nth-child(1) input{
        position: relative;
        left: 0;
        top: 10px;
    }
    #myTabContent div p:nth-child(2) input{
        position: relative;
        left: 0;
        top: 10px;
    }
    #myTabContent div p:nth-child(3) input{
        position: relative;
        left: 0;
        top: 10px;
    }
    #myTabContent div p:nth-child(4) input{
        position: relative;
        left: 0;
        top: 10px;
    }
    #myTabContent div p:nth-child(5) input{
        position: relative;
        left: 0;
        top: 10px;
    }
    #myTabContent div p textarea{
        width: 100%;
        position: relative;
        left: 0;
        top: 10px;
    }
}


.content>div{
    border: 1px solid gainsboro;
    /* background-color: red; */
    /* margin-left: 2%; */
    /* width: 400px; */
    margin-top: 20px;
    height: 100px;
    display: inline-block;
    /* padding: 0 20px; */
    transform: scale(0.9);
}


.content>div:nth-child(1){
    background-image: url(../img/partner/001.png);
    background-size: 100% 100%;
}

.content>div:nth-child(2){
    background-image: url(../img/partner/002.png);
    background-size: 100% 100%;
}
.content>div:nth-child(3){
    background-image: url(../img/partner/003.png);
    background-size: 100% 100%;
}
.content>div:nth-child(4){
    background-image: url(../img/partner/004.png);
    background-size: 100% 100%;
}
.content>div:nth-child(5){
    background-image: url(../img/partner/005.png);
    background-size: 100% 100%;
}
.content>div:nth-child(6){
    background-image: url(../img/partner/006.png);
    background-size: 100% 100%;
}
.content>div:nth-child(7){
    background-image: url(../img/partner/007.png);
    background-size: 100% 100%;
}
.content>div:nth-child(8){
    background-image: url(../img/partner/008.png);
    background-size: 100% 100%;
}
.content>div:nth-child(9){
    background-image: url(../img/partner/009.png);
    background-size: 100% 100%;
}
.content>div:nth-child(10){
    background-image: url(../img/partner/010.png);
    background-size: 100% 100%;
}
.content>div:nth-child(11){
    background-image: url(../img/partner/011.png);
    background-size: 100% 100%;
}

.content>div:nth-child(12){
    background-image: url(../img/partner/012.png);
    background-size: 100% 100%;
}
.content>div:nth-child(13){
    background-image: url(../img/partner/013.png);
    background-size: 100% 100%;
}
.content>div:nth-child(14){
    background-image: url(../img/partner/014.png);
    background-size: 100% 100%;
}
.content>div:nth-child(15){
    background-image: url(../img/partner/015.png);
    background-size: 100% 100%;
}
.content>div:nth-child(16){
    background-image: url(../img/partner/016.png);
    background-size: 100% 100%;
}
.content>div:nth-child(17){
    background-image: url(../img/partner/017.png);
    background-size: 100% 100%;
}
.content>div:nth-child(18){
    background-image: url(../img/partner/018.jpg);
    background-size: 100% 100%;
}
.content>div:nth-child(19){
    background-image: url(../img/partner/019.png);
    background-size: 100% 100%;
}
.content>div:nth-child(20){
    background-image: url(../img/partner/020.png);
    background-size: 100% 100%;
}
.content>div:nth-child(21){
    background-image: url(../img/partner/021.png);
    background-size: 100% 100%;
}
.content>div:nth-child(22){
    background-image: url(../img/partner/022.png);
    background-size: 100% 100%;
}
.content>div:nth-child(23){
    background-image: url(../img/partner/023.png);
    background-size: 100% 100%;
}
.content>div:nth-child(24){
    background-image: url(../img/partner/024.png);
    background-size: 100% 100%;
}



.content>div>div{
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 100px;
    font-size: 18px;
    color: white;
    background-color: #007AFF;
    opacity:0.9;
    display:none;
}
.content>div:hover div{
    display: block;
}




