*{
    margin: 0;padding: 0;
}

.ice-product-header1 {
    background-image: url(../img/bk-team.jpg) !important;
}

.t-001{
    
    position: relative;
    left: 10%;
    top: 100px;
    /* background-color: red; */
    width: 80%;
    
    border-bottom: 1px solid gray;
}
.t-001 .t-001-img{
    width: 300px;
    height: 300px;
    margin-left: 50px;
}
.t-001 .t-001-img img{
    width: 250px;
    height: 250px;
    border-radius: 50%;
}
.t-001 .t-001-img img:hover{
    width: 300px;
    height: 300px;
}
.t-001 .t-001-text{
   margin-top: 30px;
   margin-left: 50px;
   color: gray;
}
.t-001 .t-001-text ul{
    margin-top: 20px;
    margin-left: 20px;
    font-size: 13px;
}
.t-001 .t-001-text ul li{
    margin-top: 5px;
}


.middle{
    position: relative;
    left: 10%;
    top: 100px;
    /* background-color: red; */
    width: 80%;
}
.middle .t-002,.middle .t-003{
    position: relative;
    margin-top: 30px;
}
.t-002 .t-002-img,.t-003 .t-003-img{
    width: 200px;
    height: 200px;
    margin-left: 50px;
}
.t-002 .t-002-img img,.t-003 .t-003-img img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
.t-002 .t-002-img img:hover,.t-003 .t-003-img img:hover{
    width: 200px;
    height: 200px;
}
.t-002 .t-002-text,.t-003 .t-003-text{
   color: gray;
}
.t-002 .t-002-text ul,.t-003 .t-003-text ul{
    margin-top: 20px;
    margin-left: 20px;
    font-size: 13px;
}
.t-002 .t-002-text ul li,.t-003 .t-003-text ul li{
    margin-top: 5px;
}
@media (min-width: 1000px){
    .t-001{
        display: flex;
        /* height: 550px; */
    }
    .middle{
        display: flex;
        border-bottom: 1px solid gray;
        height: 400px;
    }
    .middle .t-002,.middle .t-003{
        display: flex;
        height: 400px;
        width: 50%;
    }
    .t-002 .t-002-text,.t-003 .t-003-text{
        position: absolute;
        left: 260px;
        top: 30px;
    }
}
@media (max-width: 1000px) and (min-width: 760px){
    .t-001{
        display: flex;
        /* height: 430px; */
    }
    .middle{
        display: flex;
        height: 400px;
        margin-top: 100px;
    }
    .middle .t-002,.middle .t-003{
        height: 400px;
        width: 50%;
    }
}
@media (max-width: 760px){
    .t-001{
        /* height: 700px; */
    }
    .middle .t-002,.middle .t-003{
        border-bottom: 1px solid gray;
    }
    .middle .t-002,.middle .t-003{
        width: 95%;
    }
}

footer{
    margin-top: 200px;
}