{{extend '../template/layout.html'}} 

{{block 'title'}}冰鉴简介-上海冰鉴信息科技有限公司官网{{/block}} 

{{block 'css'}}
<link rel="stylesheet" type="text/css" href="/public/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="/public/css/nav.css" />
<link rel="stylesheet" type="text/css" href="/public/css/冰鉴简介.css" />
<link rel="stylesheet" href="/public/css/ice-product-header.css" />
<link rel="stylesheet" href="/public/css/ice-product-aside.css" />
<link rel="stylesheet" href="/public/css/ice-product-footer.css" />
<link rel="stylesheet" href="/public/css/ice-product-header.css" />
<link rel="stylesheet" type="text/css" href="/public/css/han-nav.css" />
<link rel="stylesheet" href="/public/css/icon.css" />
{{/block}} 

{{block 'main'}}
<!-- 导航下头部 -->
<header class="ice-product-header">
  <div class="ice-product-header1">
    <h2>冰鉴简介</h2>
    <p>About Icekredit</p>
  </div>
</header>
<div class="container">
  <p class="lead">
    冰鉴科技是一家人工智能高科技公司，致力于为金融机构提供独立第三方智能风控服务。公司总部位于上海陆家嘴，在南京、深圳、成都、常州、北京设有分支机构。
  </p>
</div>
<div class="container content">
  <p>
    公司创立于2015年，目前冰鉴科技已在天使轮、Pre
    A轮、A轮、B轮、PreC融资中获得了来自峰瑞资本、云启资本、创世伙伴资本、游族网络、国和投资等数亿元的融资。
  </p>
  <p>
    公司创始人顾凌云，毕业于卡内基梅隆大学计算机学院并获博士学位。同时，担任北京中科金财科技股份有限公司（002657）董事、Turbo
    Financial
    Group董事、峰瑞资本投资合伙人、电子科技大学计算机科学学院客座教授。顾凌云博士有着丰富的基于人工智能技术对小微企业和个人进行风险评估的经验，曾经担任ZestFinance模型组的创始人和负责人，Turbo
    Financial Group 的联合创始人兼首席风控官，IDG资本驻站企业家和投资顾问， Kabbage
    的首席科学家，着重研发针对小微企业的风险评估。
  </p>
  <p>
    公司核心团队成员背景实力雄厚，分别在斯坦福大学、卡内基梅隆大学、芝加哥大学、普渡大学、纽约大学获得博士和硕士学位。在归国之前，分别在知名金融机构Kabbage，ZestFinance，Lending
    Club，Capital One，Discover，GE Capital，Barclays担任关键职务。
  </p>
  <p>
    发展至今，公司获得了许多行业内颇具影响力的大奖。如，连续两年获得全球Fintech250强、国家高新技术企业、科技部中国创新创业大赛十强、连续四年获得KPMG中国领先金融科技公司50强、CB
    Insights中国Fintech50强、IDC中国Fintech50强、2018年度金融科技创新十佳案例、世界互联网大会年度中国创客大奖、达沃斯论坛中国AI
    50强等荣誉，在行业内影响力日益提高。此外，冰鉴科技亦是中国互联网金融协会成员，并通过ISO9001&
    ISO27001、CMMI-3管理体系认证。
  </p>
  <p>
    目前，冰鉴拥有五百多家国内外付费客户，并和<span>中国银行</span>、<span>中国工商银行</span>、<span>交通银行</span>、<span>中国建设银行</span>、<span>中国邮储银行</span>、<span>兴业银行</span>、<span>广发银行</span>、<span>中信银行</span>、<span>渤海银行</span>、<span>南京银行</span>、<span>成都农商行</span>、<span>捷信消费金融</span>、<span>中原消费金融</span>、<span>众安保险</span>等公司展开深度合作，深受客户信赖。
  </p>
</div>
{{ include '../template/footer.html' }}
{{/block}} 

{{block 'script'}}
<script src="/public/js/jquery-3.5.1.min.js" type="text/javascript" charset="utf-8"></script>
<script src="/public/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
<script src="/public/js/ice-product-scroll.js" type="text/javascript" charset="utf-8"></script>
{{/block}}
