{{extend '../template/layout.html'}} 

{{block 'title'}}合作通道-上海冰鉴信息科技有限公司官网{{/block}} 

{{block 'css'}}
<link rel="stylesheet" type="text/css" href="/public/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="/public/css/nav.css" />
<link rel="stylesheet" type="text/css" href="/public/css/合作通道.css" />
<link rel="stylesheet" href="/public/css/ice-product-header.css" />
<link rel="stylesheet" href="/public/css/ice-product-aside.css" />
<link rel="stylesheet" href="/public/css/ice-product-footer.css" />
<link rel="stylesheet" href="/public/css/ice-product-header.css" />
<link rel="stylesheet" type="text/css" href="/public/css/han-nav.css" />
<link rel="stylesheet" href="/public/css/icon.css" />
{{/block}} 

{{block 'main'}}
<header class="ice-product-header">
  <div class="ice-product-header1">
    <h2>合作通道</h2>
    <p>Cooperative Channel</p>
  </div>
</header>

<div class="container">
  <div class="col-md-12 col-sm-12 col-xs-12 post-com">
    <div class="introduce">
      <h2>合作通道</h2>
    </div>

    <div class="choose-big">
      <p>您若有合作意向，请填写以下信息，我们会通过您留下的联系方式与您联系。</p>
      <div class="choose-sm">
        <span>你是？</span>
        <ul id="myTab" class="nav nav-tabs">
          <li class="active">
            <a href="#mt" data-toggle="tab">1</a>
          </li>
          <li>
            <a href="#kh" data-toggle="tab">2</a>
          </li>
          <li>
            <a href="#tzz" data-toggle="tab">3</a>
          </li>
        </ul>
        <div id="myTabContent" class="tab-content">
          <div class="tab-pane fade in active" id="mt">
            <p><span>公司全称</span><input type="text" placeholder="请输入公司全称" /></p>
            <p><span>联系人</span><input type="text" placeholder="请输入联系人姓名" /></p>
            <p><span>电话</span><input type="text" placeholder="请输入联系电话" /></p>
            <p><span>主要合作意向</span><textarea rows="" cols="" placeholder="请输入主要合作意向"></textarea></p>
          </div>
          <div class="tab-pane fade" id="kh">
            <p><span>公司全称</span><input type="text" placeholder="请输入公司全称" /></p>
            <p><span>主营业务</span><input type="text" placeholder="请输入主营业务" /></p>
            <p><span>所在城市</span><input type="text" placeholder="请输入所在城市" /></p>
            <p><span>联系人</span><input type="text" placeholder="请输入联系人姓名" /></p>
            <p><span>电话</span><input type="text" placeholder="请输入联系电话" /></p>
            <p><span>主要合作意向</span><textarea rows="" cols="" placeholder="请输入主要合作意向"></textarea></p>
          </div>
          <div class="tab-pane fade" id="tzz">
            <p><span>公司全称</span><input type="text" placeholder="请输入公司全称" /></p>
            <p><span>联系人</span><input type="text" placeholder="请输入联系人姓名" /></p>
            <p><span>电话</span><input type="text" placeholder="请输入联系电话" /></p>
            <p><span>主要合作意向</span><textarea rows="" cols="" placeholder="请输入主要合作意向"></textarea></p>
          </div>
        </div>
      </div>
      <button>提交</button>
    </div>

    <div class="introduce">
      <h2>合作伙伴</h2>
    </div>

    <div class="content row">
      <div class="col-md-3 col-sm-4 col-xs-6">
        <img src="/public/img/002.png" />
      </div>
      <div class="col-md-3 col-sm-4 col-xs-6">
        <img src="/public/img/002.png" />
      </div>
      <div class="col-md-3 col-sm-4 col-xs-6">
        <img src="/public/img/002.png" />
      </div>
      <div class="col-md-3 col-sm-4 col-xs-6">
        <img src="/public/img/002.png" />
      </div>
      <div class="col-md-3 col-sm-4 col-xs-6">
        <img src="/public/img/002.png" />
      </div>
      <div class="col-md-3 col-sm-4 col-xs-6">
        <img src="/public/img/002.png" />
      </div>
      <div class="col-md-3 col-sm-4 col-xs-6">
        <img src="/public/img/002.png" />
      </div>
      <div class="col-md-3 col-sm-4 col-xs-6">
        <img src="/public/img/002.png" />
      </div>
      <div class="col-md-3 col-sm-4 col-xs-6">
        <img src="/public/img/002.png" />
      </div>
      <div class="col-md-3 col-sm-4 col-xs-6">
        <img src="/public/img/002.png" />
      </div>
      <div class="col-md-3 col-sm-4 col-xs-6">
        <img src="/public/img/002.png" />
      </div>
      <div class="col-md-3 col-sm-4 col-xs-6">
        <img src="/public/img/002.png" />
      </div>
      <div class="col-md-3 col-sm-4 col-xs-6">
        <img src="/public/img/002.png" />
      </div>
      <div class="col-md-3 col-sm-4 col-xs-6">
        <img src="/public/img/002.png" />
      </div>
      <div class="col-md-3 col-sm-4 col-xs-6">
        <img src="/public/img/002.png" />
      </div>
      <div class="col-md-3 col-sm-4 col-xs-6">
        <img src="/public/img/002.png" />
      </div>
      <div class="col-md-3 col-sm-4 col-xs-6">
        <img src="/public/img/002.png" />
      </div>
      <div class="col-md-3 col-sm-4 col-xs-6">
        <img src="/public/img/002.png" />
      </div>
      <div class="col-md-3 col-sm-4 col-xs-6">
        <img src="/public/img/002.png" />
      </div>
      <div class="col-md-3 col-sm-4 col-xs-6">
        <img src="/public/img/002.png" />
      </div>
      <div class="col-md-3 col-sm-4 col-xs-6">
        <img src="/public/img/002.png" />
      </div>
      <div class="col-md-3 col-sm-4 col-xs-6">
        <img src="/public/img/002.png" />
      </div>
      <div class="col-md-3 col-sm-4 col-xs-6">
        <img src="/public/img/002.png" />
      </div>
      <div class="col-md-3 col-sm-4 col-xs-6">
        <img src="/public/img/002.png" />
      </div>
    </div>
  </div>
</div>
{{ include '../template/footer.html' }} 
{{/block}} 

{{block 'script'}}
<script src="/public/js/jquery-3.5.1.min.js" type="text/javascript" charset="utf-8"></script>
<script src="/public/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
<script src="/public/js/ice-product-scroll.js" type="text/javascript" charset="utf-8"></script>
{{/block}}
