{{extend '../template/layout.html'}} {{block 'title'}}新闻中心-上海冰鉴信息科技有限公司官网{{/block}} {{block 'css'}}
<link rel="stylesheet" type="text/css" href="/public/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="/public/css/nav.css" />
<link rel="stylesheet" type="text/css" href="/public/css/新闻中心.css" />
<link rel="stylesheet" href="/public/css/ice-product-header.css" />
<link rel="stylesheet" href="/public/css/ice-product-aside.css" />
<link rel="stylesheet" href="/public/css/ice-product-footer.css" />
<link rel="stylesheet" href="/public/css/ice-product-header.css" />
<link rel="stylesheet" type="text/css" href="/public/css/han-nav.css" />
<link rel="stylesheet" href="/public/css/icon.css" />
{{/block}} {{block 'main'}}
<header class="ice-product-header">
  <div class="ice-product-header1">
    <h2>新闻中心</h2>
    <p>News Center</p>
  </div>
</header>

<div class="middle">
  <div class="t-002">
    <div class="t-002-img"><img src="/public/img/news/2020.5冰鉴联合发起上海金融科技产业联盟（重要）-530x353.jpg" /></div>
    <div class="t-002-text">
      <p>上海国资经营公司第六党支部赴冰鉴科技举办主题党日活动</p>
      <p>2020年9月27日</p>
      <p>
        上海国资经营公司党委委员、常务副总裁陈华，上海国资经营公司各兄弟支部代表，第六党支部全体党员、光大证券信息科技部第二支部代表走进冰鉴科技。
      </p>
    </div>
  </div>
  <div class="t-003">
    <div class="t-003-img"><img src="/public/img/news/CB-Insihgts-中国-Fintech-530x375.jpg" /></div>
    <div class="t-003-text">
      <p>上海国资经营公司第六党支部赴冰鉴科技举办主题党日活动</p>
      <p>2020年9月27日</p>
      <p>
        上海国资经营公司党委委员、常务副总裁陈华，上海国资经营公司各兄弟支部代表，第六党支部全体党员、光大证券信息科技部第二支部代表走进冰鉴科技。
      </p>
    </div>
  </div>
</div>

<div class="middle">
  <div class="t-002">
    <div class="t-002-img"><img src="/public/img/news/2020.5冰鉴联合发起上海金融科技产业联盟（重要）-530x353.jpg" /></div>
    <div class="t-002-text">
      <p>上海国资经营公司第六党支部赴冰鉴科技举办主题党日活动</p>
      <p>2020年9月27日</p>
      <p>
        上海国资经营公司党委委员、常务副总裁陈华，上海国资经营公司各兄弟支部代表，第六党支部全体党员、光大证券信息科技部第二支部代表走进冰鉴科技。
      </p>
    </div>
  </div>
  <div class="t-003">
    <div class="t-003-img"><img src="/public/img/news/CB-Insihgts-中国-Fintech-530x375.jpg" /></div>
    <div class="t-003-text">
      <p>上海国资经营公司第六党支部赴冰鉴科技举办主题党日活动</p>
      <p>2020年9月27日</p>
      <p>
        上海国资经营公司党委委员、常务副总裁陈华，上海国资经营公司各兄弟支部代表，第六党支部全体党员、光大证券信息科技部第二支部代表走进冰鉴科技。
      </p>
    </div>
  </div>
</div>

<div class="middle">
  <div class="t-002">
    <div class="t-002-img"><img src="/public/img/news/2020.5冰鉴联合发起上海金融科技产业联盟（重要）-530x353.jpg" /></div>
    <div class="t-002-text">
      <p>上海国资经营公司第六党支部赴冰鉴科技举办主题党日活动</p>
      <p>2020年9月27日</p>
      <p>
        上海国资经营公司党委委员、常务副总裁陈华，上海国资经营公司各兄弟支部代表，第六党支部全体党员、光大证券信息科技部第二支部代表走进冰鉴科技。
      </p>
    </div>
  </div>
  <div class="t-003">
    <div class="t-003-img"><img src="/public/img/news/CB-Insihgts-中国-Fintech-530x375.jpg" /></div>
    <div class="t-003-text">
      <p>上海国资经营公司第六党支部赴冰鉴科技举办主题党日活动</p>
      <p>2020年9月27日</p>
      <p>
        上海国资经营公司党委委员、常务副总裁陈华，上海国资经营公司各兄弟支部代表，第六党支部全体党员、光大证券信息科技部第二支部代表走进冰鉴科技。
      </p>
    </div>
  </div>
</div>

<div class="middle">
  <div class="t-002">
    <div class="t-002-img"><img src="/public/img/news/2020.5冰鉴联合发起上海金融科技产业联盟（重要）-530x353.jpg" /></div>
    <div class="t-002-text">
      <p>上海国资经营公司第六党支部赴冰鉴科技举办主题党日活动</p>
      <p>2020年9月27日</p>
      <p>
        上海国资经营公司党委委员、常务副总裁陈华，上海国资经营公司各兄弟支部代表，第六党支部全体党员、光大证券信息科技部第二支部代表走进冰鉴科技。
      </p>
    </div>
  </div>
  <div class="t-003">
    <div class="t-003-img"><img src="/public/img/news/CB-Insihgts-中国-Fintech-530x375.jpg" /></div>
    <div class="t-003-text">
      <p>上海国资经营公司第六党支部赴冰鉴科技举办主题党日活动</p>
      <p>2020年9月27日</p>
      <p>
        上海国资经营公司党委委员、常务副总裁陈华，上海国资经营公司各兄弟支部代表，第六党支部全体党员、光大证券信息科技部第二支部代表走进冰鉴科技。
      </p>
    </div>
  </div>
</div>

<div class="middle">
  <div class="t-002">
    <div class="t-002-img"><img src="/public/img/news/2020.5冰鉴联合发起上海金融科技产业联盟（重要）-530x353.jpg" /></div>
    <div class="t-002-text">
      <p>上海国资经营公司第六党支部赴冰鉴科技举办主题党日活动</p>
      <p>2020年9月27日</p>
      <p>
        上海国资经营公司党委委员、常务副总裁陈华，上海国资经营公司各兄弟支部代表，第六党支部全体党员、光大证券信息科技部第二支部代表走进冰鉴科技。
      </p>
    </div>
  </div>
  <div class="t-003">
    <div class="t-003-img"><img src="/public/img/news/CB-Insihgts-中国-Fintech-530x375.jpg" /></div>
    <div class="t-003-text">
      <p>上海国资经营公司第六党支部赴冰鉴科技举办主题党日活动</p>
      <p>2020年9月27日</p>
      <p>
        上海国资经营公司党委委员、常务副总裁陈华，上海国资经营公司各兄弟支部代表，第六党支部全体党员、光大证券信息科技部第二支部代表走进冰鉴科技。
      </p>
    </div>
  </div>
</div>

<div class="middle">
  <div class="t-002">
    <div class="t-002-img"><img src="/public/img/news/2020.5冰鉴联合发起上海金融科技产业联盟（重要）-530x353.jpg" /></div>
    <div class="t-002-text">
      <p>上海国资经营公司第六党支部赴冰鉴科技举办主题党日活动</p>
      <p>2020年9月27日</p>
      <p>
        上海国资经营公司党委委员、常务副总裁陈华，上海国资经营公司各兄弟支部代表，第六党支部全体党员、光大证券信息科技部第二支部代表走进冰鉴科技。
      </p>
    </div>
  </div>
  <div class="t-003">
    <div class="t-003-img"><img src="/public/img/news/CB-Insihgts-中国-Fintech-530x375.jpg" /></div>
    <div class="t-003-text">
      <p>上海国资经营公司第六党支部赴冰鉴科技举办主题党日活动</p>
      <p>2020年9月27日</p>
      <p>
        上海国资经营公司党委委员、常务副总裁陈华，上海国资经营公司各兄弟支部代表，第六党支部全体党员、光大证券信息科技部第二支部代表走进冰鉴科技。
      </p>
    </div>
  </div>
</div>

<div class="middle">
  <div class="t-002">
    <div class="t-002-img"><img src="/public/img/news/2020.5冰鉴联合发起上海金融科技产业联盟（重要）-530x353.jpg" /></div>
    <div class="t-002-text">
      <p>上海国资经营公司第六党支部赴冰鉴科技举办主题党日活动</p>
      <p>2020年9月27日</p>
      <p>
        上海国资经营公司党委委员、常务副总裁陈华，上海国资经营公司各兄弟支部代表，第六党支部全体党员、光大证券信息科技部第二支部代表走进冰鉴科技。
      </p>
    </div>
  </div>
  <div class="t-003">
    <div class="t-003-img"><img src="/public/img/news/CB-Insihgts-中国-Fintech-530x375.jpg" /></div>
    <div class="t-003-text">
      <p>上海国资经营公司第六党支部赴冰鉴科技举办主题党日活动</p>
      <p>2020年9月27日</p>
      <p>
        上海国资经营公司党委委员、常务副总裁陈华，上海国资经营公司各兄弟支部代表，第六党支部全体党员、光大证券信息科技部第二支部代表走进冰鉴科技。
      </p>
    </div>
  </div>
</div>
{{ include '../template/footer.html' }} {{/block}} {{block 'script'}}
<script src="/public/js/jquery-3.5.1.min.js" type="text/javascript" charset="utf-8"></script>
<script src="/public/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
<script src="/public/js/ice-product-scroll.js" type="text/javascript" charset="utf-8"></script>
{{/block}}
