{{extend '../template/layout.html'}} {{block 'title'}}银行与新金融风控产品{{/block}} {{block 'css'}}

<link rel="stylesheet" href="/public/css/nav.css" />
<link rel="stylesheet" href="/public/css/ice-product-nav.css" />
<link rel="stylesheet" href="/public/css/ice-product-header.css" />
<link rel="stylesheet" href="/public/css/ice-product-tab.css" />
<link rel="stylesheet" href="/public/css/bootstrap.min.css" />
<link rel="stylesheet" href="/public/css/common.css" />
<link rel="stylesheet" href="/public/css/ice-product-aside.css" />
<link rel="stylesheet" href="/public/css/ice-product-footer.css" />
<link rel="stylesheet" href="/public/css/ljq-product-ai.css" />
<link rel="stylesheet" href="/public/css/icon.css" />
{{/block}} {{block 'main'}}
<header class="ice-product-header">
  <div class="ice-product-header1">
    <h2>智能风控平台产品</h2>
    <div class="ice-product-border"></div>
    <p>AI技术助力，搭载成熟模型和多场景风控策略，构建冰鉴智能风控一体化解决方案的核心生态，赋能金融。</p>
  </div>
</header>

<main class="product-1">
  <div class="product-1-title"><span>智能风控平台产品</span></div>
  <div class="product-1-items-wrap-wrap">
    <div class="product-1-items-wrap">
      <div class="product-1-item">
        <div class="product-1-item-block">
          <p class="title">智能决策引擎</p>
          <p class="info">了解更多 &gt;</p>
        </div>
        <p class="desc">信贷业务解决方案的核心系统，提供多场景全流程的智能风控决策服务。</p>
        <a href="">申请试用</a>
      </div>
      <div class="product-1-item">
        <div class="product-1-item-block">
          <p class="title">智能决策引擎</p>
          <p class="info">了解更多 &gt;</p>
        </div>
        <p class="desc">信贷业务解决方案的核心系统，提供多场景全流程的智能风控决策服务。</p>
        <a href="">申请试用</a>
      </div>
    </div>
    <div class="product-1-items-wrap">
      <div class="product-1-item">
        <div class="product-1-item-block">
          <p class="title">智能决策引擎</p>
          <p class="info">了解更多 &gt;</p>
        </div>
        <p class="desc">信贷业务解决方案的核心系统，提供多场景全流程的智能风控决策服务。</p>
        <a href="">申请试用</a>
      </div>
      <div class="product-1-item">
        <div class="product-1-item-block">
          <p class="title">智能决策引擎</p>
          <p class="info">了解更多 &gt;</p>
        </div>
        <p class="desc">信贷业务解决方案的核心系统，提供多场景全流程的智能风控决策服务。</p>
      </div>
    </div>
  </div>
</main>

<main class="product-2">
  <div class="product-1-title"><span>智能风控一体化解决方案</span></div>
  <div class="product-2-content">
    <img src="/public/img/ai-智能一体化解决方案.png" alt="" />
  </div>
</main>

<div class="product-3">
  <div class="product-1-title"><span>应用场景</span></div>
  <div class="product-3-items-wrap">
    <div class="product-3-item">
      <img src="/public/img/ai-icon0.png" alt="" />
      <h3>反欺诈</h3>
      <p>
        辅助金融业机构有效整合其内外部合法数据，辅以专家决策，为信贷产品量身打造规则和反欺诈模型等各类方案，为业务人员提供操作便捷、功能丰富的人机交互界面，大幅降低反欺诈运营成本。
      </p>
    </div>
    <div class="product-3-item">
      <img src="/public/img/ai-icon0.png" alt="" />
      <h3>精准营销</h3>
      <p>
        协助金融机构精准定位目标客户，对潜在客户和存量客户经过反欺诈规则、预授信审批、定额定价等决策流程筛选，生成营销白名单，搭载营销模型方案，提升客群响应率，助力线上和线下营销。
      </p>
    </div>
    <div class="product-3-item">
      <img src="/public/img/ai-icon0.png" alt="" />
      <h3>贷前审批</h3>
      <p>
        针对不同的业务场景和客群，运用AI人工智能算法，选取样本、提炼特征变量、精准定位风险，制定差异化的动态定价策略，以衡量借款人的还款能力和还款意愿，精准甄别不同业务场景下的客户风险。
      </p>
    </div>
    <div class="product-3-item">
      <img src="/public/img/ai-icon0.png" alt="" />
      <h3>贷中监控</h3>
      <p>
        在信贷业务贷中监控环节，通过智能分析技术持续关注申请人的新增风险，深挖关联风险，预设规则、评分、策略及定制化内容的管理，协助金融机构及时发现并化解潜在风险，避免损失。
      </p>
    </div>
  </div>
</div>
{{include '../template/footer.html'}} {{/block}} {{block 'script'}}
<script src="/public/js/jquery-3.5.1.min.js"></script>
<script src="/public/js/bootstrap.min.js"></script>
<script src="/public/js/ice-product-scroll.js"></script>
{{/block}}
