{{extend '../template/layout.html'}} 

{{block 'title'}}管理团队-上海冰鉴信息科技有限公司官网{{/block}} 

{{block 'css'}}
<link rel="stylesheet" type="text/css" href="/public/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="/public/css/nav.css" />
<link rel="stylesheet" type="text/css" href="/public/css/管理团队.css" />
<link rel="stylesheet" href="/public/css/ice-product-header.css" />
<link rel="stylesheet" href="/public/css/ice-product-aside.css" />
<link rel="stylesheet" href="/public/css/ice-product-footer.css" />
<link rel="stylesheet" href="/public/css/ice-product-header.css" />
<link rel="stylesheet" type="text/css" href="/public/css/han-nav.css" />
<link rel="stylesheet" href="/public/css/icon.css" />
{{/block}} 

{{block 'main'}}
<header class="ice-product-header">
  <div class="ice-product-header1">
    <h2>管理团队</h2>
    <p>Our Team</p>
  </div>
</header>
<div class="t-001">
  <div class="t-001-img"><img src="/public/img/t-001.jpg" /></div>
  <div class="t-001-text">
    <h1>顾凌云</h1>
    <h2>董事长兼CEO</h2>
    <ul>
      <li>ZestFinance模型组创始人</li>
      <li>IDG资本驻站企业家</li>
      <li>北京中科金财科技股份有限公司（002657）董事</li>
      <li>加利福尼亚大学尔湾分校商学院客座教授</li>
      <li>东南大学客座教授</li>
      <li>电子科技大学客座教授</li>
      <li>Carnegie Mellon University计算机博士</li>
      <li>电子科技大学电子工程学士</li>
      <li>多项专利，数十篇论文</li>
      <li>2018科技部创新人才</li>
      <li>陆家嘴十佳杰出青年，陆家嘴十大海归精英</li>
    </ul>
  </div>
</div>
<div class="middle">
  <div class="t-002">
    <div class="t-002-img"><img src="/public/img/t-002.jpg" /></div>
    <div class="t-002-text">
      <h1>郭志攀</h1>
      <h2>副总裁 & 战略事业部GM</h2>
      <ul>
        <li>十年以上智能家居产品和系统开发管理经验</li>
        <li>天安数码城集团总监，深圳市中网致标网络技术有限公司副总经理</li>
        <li>电子科技大学微固学院学士</li>
      </ul>
    </div>
  </div>
  <div class="t-003">
    <div class="t-003-img"><img src="/public/img/t-005.jpg" /></div>
    <div class="t-003-text">
      <h1>谢旻旗</h1>
      <h2>副总裁 & 模型开发部GM</h2>
      <ul>
        <li>十年以上模型经验，CFA & FRM</li>
        <li>Barclays和Capital One模型组</li>
        <li>New York University：工商管理硕士（MBA）</li>
      </ul>
    </div>
  </div>
</div>
<div class="middle">
  <div class="t-002">
    <div class="t-002-img"><img src="/public/img/t-012.jpg" /></div>
    <div class="t-002-text">
      <h1>李嘉明</h1>
      <h2>副总裁 & 全国销售部GM</h2>
      <ul>
        <li>电子科技大学，微电子与固体电子学专业，硕士</li>
        <li>北京建飞无限科技联合创始人，副总裁</li>
        <li>中兴通讯全国电信服务销售总监</li>
      </ul>
    </div>
  </div>
  <div class="t-003">
    <div class="t-003-img"><img src="/public/img/t-009.jpg" /></div>
    <div class="t-003-text">
      <h1>陈超美</h1>
      <h2>董事会顾问</h2>
      <ul>
        <li>Lending Club：首席风控官</li>
        <li>Washington Mutual：首席风控官</li>
        <li>Providian：首席风控官</li>
        <li>Johns Hopkins University软件工程硕士</li>
        <li>西南交通大学学士</li>
      </ul>
    </div>
  </div>
</div>
{{ include '../template/footer.html' }} 
{{/block}} 

{{block 'script'}}
<script src="/public/js/jquery-3.5.1.min.js" type="text/javascript" charset="utf-8"></script>
<script src="/public/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
<script src="/public/js/ice-product-scroll.js" type="text/javascript" charset="utf-8"></script>
{{/block}}
