{{extend '../template/layout.html'}} {{block 'title'}}银行与新金融风控产品{{/block}} {{block 'css'}}

<link rel="stylesheet" href="/public/css/nav.css" />
<link rel="stylesheet" href="/public/css/ice-product-nav.css" />
<link rel="stylesheet" href="/public/css/ice-product-header.css" />
<link rel="stylesheet" href="/public/css/ice-product-tab.css" />
<link rel="stylesheet" href="/public/css/bootstrap.min.css" />
<link rel="stylesheet" href="/public/css/common.css" />
<link rel="stylesheet" href="/public/css/ice-product-aside.css" />
<link rel="stylesheet" href="/public/css/ice-product-footer.css" />
<link rel="stylesheet" href="/public/css/ice-product-table.css" />
<link rel="stylesheet" href="/public/css/icon.css" />
{{/block}} {{block 'main'}}
<!-- 导航下头部 -->
<header class="ice-product-header">
  <div class="ice-product-header1">
      <h2>银行与新金融风控产品</h2>
      <p></p>
  </div>
</header>

<!-- 内容部分 -->
<main class="ice-product">
  <div class="container">
    <div class="col-md-12 col-sm-12 col-xs-12 post-com">
      <ul
        id="tab"
        class="nav nav-tabs"
      >
        <li class="active">
          <a
            id="tabBank"
            href="#Bank"
            data-toggle="tab"
            aria-expanded="true"
            >银行风控产品</a
          >
        </li>
        <li class="">
          <a
            id="tabFinance"
            href="#Finance"
            data-toggle="tab"
            aria-expanded="false"
            >新金融风控产品</a
          >
        </li>
      </ul>
      <div id="TabContent" class="tab-content">
        <div id="Bank" class="tab-pane fade active in">
          <p><b>精准营销产品</b></p>
          <p>
            冰鉴精准营销，通过整合信息价值，训练优化模型等方法，帮助银行不同渠道筛选潜在客户（包括未被央行信用报告覆盖企业）从而提升营销效率，降低获客成本。不仅如此，该产品还能协助呼叫中心和线下信贷人员过滤大量不符合申请资质的申请人，剔除高危人群的同时，定义优质客户。
          </p>
          <table>
            <thead>
              <tr>
                <th>产品名称</th>
                <th>精准营销标准模型</th>
                <th>使用场景</th>
                <th>货前环节</th>
              </tr>
            </thead>
            <tbody>
              <tr class="tbody1">
                <td>银行输入渠道信息</td>
                <td>设定参数</td>
                <td>冰鉴输出</td>
                <td>主要用途</td>
              </tr>
              <tr class="tbody2">
                <td>存量客户历史交易记录	</td>
                <td>优质客户要求</td>
                <td>客户排名与归类</td>
                <td>剔除高危人群<br>
                  定义优质客户<br/>
                  协助呼叫中心和线下信贷人员过滤大量不符合申请资质的申请人</td>
              </tr>
            </tbody>
          </table>
          <p>
            <a
              class="button-apply button-apply-b"
              
              href="合作通道"
              target="_blank"
              >立即申请试用</a
            >
          </p>
          <p><b>小微企业定额定价模型</b></p>
          <p>
            该产品可以帮助银行快速准确对小微企业贷款，尤其是未被央行信用报告覆盖的小微企业贷款，进行风险评估，决定借贷额度、还贷利息以及还贷周期的同时，还能有效减少信贷员的道德风险和主观评估差异，并对客户进行差异化判断。
          </p>
          <p>
            <table>
              <thead>
                <tr>
                  <th>产品名称</th>
                  <th>小微企业定额定价模型</th>
                  <th>使用场景</th>
                  <th>货前环节</th>
                </tr>
              </thead>
              <tbody>
                <tr class="tbody1">
                  <td>银行输入</td>
                  <td>设定参数</td>
                  <td>冰鉴输出</td>
                  <td>主要用途</td>
                </tr>
                <tr class="tbody2">
                  <td>行内流水、人行报告、企业信息、纳税信息等企业基本信息</td>
                  <td>预期收益率及违约概率</td>
                  <td>贷款上限和贷款利率</td>
                  <td>决定借贷额度、还贷利息以及还贷周期<br/>
                    减少信贷员的道德风险和主观评估差异<br/>
                    对客户进行差异化判断</td>
                </tr>
              </tbody>
            </table>
          </p>
          <p>
            <a
              class="button-apply button-apply-b"
              href="合作通道"
              target="_blank"
              >立即申请试用</a
            >
          </p>
          <p><b>小微企业贷后监控模型</b></p>
          <p>
            产品通过自主研发的模型，可以对已经放出的贷款进行有效实时监控，帮助银行立即对风险做出干预的同时，能够帮助线下信审管理人员，有效提高人均贷后监管企业数量，大幅度提升人工干预质量。
          </p>
          <p>
            <table>
              <thead>
                <tr>
                  <th>产品名称</th>
                  <th>小微企业贷后监控模型</th>
                  <th>使用场景</th>
                  <th>货中/后环节</th>
                </tr>
              </thead>
              <tbody>
                <tr class="tbody1">
                  <td>银行输入</td>
                  <td>设定参数</td>
                  <td>冰鉴输出</td>
                  <td>主要用途</td>
                </tr>
                <tr class="tbody2">
                  <td>行内流水、人行报告、企业信息、纳税信息等</td>
                  <td>违约概率及监控周期</td>
                  <td>预警名单及风险点</td>
                  <td>监控已发贷款<br/>
                    提高信审人员人均贷后监管企业数量<br/>
                    提升人工干预质量</td>
                </tr>
              </tbody>
            </table>
          </p>
          <p>
            <a
              class="button-apply button-apply-b"
              href="合作通道"
              target="_blank"
              >立即申请试用</a
            >
          </p>
          <p><b>企业舆情监控系统</b></p>
          <p>
            通过对社交媒体、网络新闻、网页上的关键词进行分析后，利用人工智能算法进行聚合后判断舆情态度，生成相应的冰鉴舆情得分，从而对小微企业进行实时舆情监控。该系统是针对小微企业风控提出的一个全新维度，是之前的小微企业风控产品从未涉及的风险评估角度。

立即申请试用
          </p>
        </div>
        <div id="Finance" class="tab-pane fade">
          <p><b>冰鉴线上消费贷解决方案</b></p>
          <p>
            覆盖500-5000元小额消费贷场景及5000-50000元大额消费贷场景。目前，通过冰鉴强大的人工智能算法，冰鉴推出了火眸分、慧眼分等产品，助力金融机构做出更精准的决策。
          </p>
          <p>
            该产品现在已拥有百家客户每月超过3000万查询量，为客户提供更加规范安全、高效便捷、系统全面的服务。
            
          </p>
          <p>
            <a
              class="button-apply button-apply-b"
              href="合作通道"
              target="_blank"
              >立即申请试用</a
            >
          </p>
        </div>
      </div>
    </div>
    <!-- d -->
  </div>
</main>
{{include '../template/footer.html'}} {{/block}} {{block 'script'}}
<script src="/public/js/jquery-3.5.1.min.js"></script>
<script src="/public/js/bootstrap.min.js"></script>
<script src="/public/js/ice-product-scroll.js"></script>
{{/block}}


