.ice-product table {
  overflow: hidden;
  text-overflow: ellipsis;
  table-layout: auto;
  border-collapse: collapse;
  width: 100%;
  border-spacing: 0;
  font-size: 0.8em;
}
table th,
table td {
  padding: 10px;
  text-align: center;
  width: 25%;
}
table thead tr th:nth-child(odd) {
  background-color: #e3e6e6;
}
table thead tr th:nth-child(even) {
  background-color: #bf591f;
  color: #fff;
}
table tbody tr.tbody1 td:nth-child(even) {
  background-color: #e3e6e6;
}
table tbody tr.tbody1 td:nth-child(odd) {
  background-color: #f3f6f7;
}
.tbody2 {
  color: #fff;
}
table tbody tr.tbody2 td:nth-child(odd) {
  background-color: #e4bc6c;
}
table tbody tr.tbody2 td:nth-child(even) {
  background-color: #dcb15c;
}
a.button-apply.button-apply-b {
  display: inline-block;
  padding: 15px 60px;
  margin: 20px 0 40px 0;
  border-radius: 26px;
  font-size: 16px;
  line-height: 21px;
  color: #fff;
  text-decoration: none;
  background-color: #00b4ed;
  transition: all .6s;
}
a.button-apply.button-apply-b:hover {
  background-color: #00a0d0;
}
@media (max-width: 766px) {
  a.button-apply.button-apply-b {
    padding: 10px 20px;
    margin: 20px 0 40px 0;
    font-size: 14px;
    line-height: 14px;
    color: #fff;
  }
  /* /改变ice-product 内容字体 */
  .ice-product {
    font-size: 12px;
  }
  table thead th,table tbody td {
    padding: 5px;
    line-height: 14px;
  }
}
.thead3 tr th:nth-child(2) {
  width: 80%;
}
.tbody3 tr:nth-child(odd) td:nth-child(odd){
  background-color: #f3f6f7;
}
.tbody3 tr:nth-child(odd) td:nth-child(even){
  background-color: #de814b;
  color: #fff;
}
.tbody3 tr:nth-child(even) td:nth-child(odd){
  background-color: #e3e6e6;
}
.tbody3 tr:nth-child(even) td:nth-child(even){
  background-color: #d6753e;
  color: #fff;
}